@media (min-width: 1000px) 
{

    

}




/*Mobile*/

@media (min-width: 100px) and (max-width:700px)
{
    #header 
    {
        overflow: hidden;
    }
    #nav
    {
        display: block;
    }
    ul#nav > li
    {
        display: block;
    }

    #nav>li:first-child
    {
        display: inline-block;
    }

    #content .member-list 
    {
    margin-top: 150px;
    padding: 32px;
    }
    #slider .text-content
    {
        display: none;
    }

    #slider 
    {
        position: relative;
        padding-bottom: 35px;
    }

    #header .search-button
    {
    float: right;
    cursor: pointer;
    }

    #header .menu-icon
    {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 23.48px;
    color: white;
    font-size: 16px;
    line-height: 46.5px;
    }


    #header .search-icon
    {
        display: none !important;
    }

    #content .member-list .member-mobile 
    {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-list .member-img
    {
        width: 60%;
    }

    .place-item 
    {
        width: 99.99%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contact .contact-container
    {
        display: inline-block;
    }
    .contact .left 
    {
        display: inline-block;
        width: 100%;
    }

    .contact .right 
    {
        display: block;
        width: 100%;
        float: left;
        
    }

    .contact .right .div_name 
    {
        width: 99%;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .contact .right .contact-name
    {
        width: 100%;
    }

    .contact .right .contact-email
    {
        width: 100%;
    }

    .contact .right .contact-mess
    {
        width: 100% !important;
        border: 1px solid #ccc!important;
        padding: 10px 15px 10px 10px;
        margin-top: 0px ;
    }


    .contact .right .div_email
    {
        width: 99% !important;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .contact .right .div_contact
    {
        width: 100%;
        margin-left: 0;
    }
    .right 
    {
        display:inline-block;
        max-width: 100%;
        margin-left: 0px;
        margin-right: 10px;
    }

    .contact .right .top 
    {
        display: inline-block;
        margin-bottom: 0;
    }

    .contact
    {
        padding-bottom: 0;
    }
}

